<ion-view view-title="welcome">
   
    <ion-content class="smt_background_image welcome-slider">
            <ion-slides  options="options" slider="data.slider" >
              <ion-slide-page>
                <div class="row">
                    <div class="col welcome-slide-icon">
                            <img style="width: 50%" src="img/welcome1.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col welcome-slide welcome-slide-text welcome-slide1-txt">
                        <label class="">GET THE TOOLS IN EASY WAY</label>
                    </div>
                </div>
               
              </ion-slide-page>


              <ion-slide-page>
                    <div class="row">
                        <div class="col welcome-slide-icon">
                                <img style="width: 50%" src="img/welcome2.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col welcome-slide welcome-slide-text">
                            <label class="">KEEP IN TOUCH WE WILL GET MORE TOOLS</label>
                        </div>
                    </div>
              </ion-slide-page>

              <ion-slide-page>
                    <div class="row">
                        <div class="col welcome-slide-icon">
                                <img style="width: 50%" src="img/welcome3.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col welcome-slide welcome-slide-text">
                            <label> WELCOME</label>
                        </div>
                    </div>
              </ion-slide-page>
            </ion-slides>
           
    </ion-content>
    <div class="footer-style footer-bar-height" ng-click="gotoLoginPage()">
        <div class="bar bar-footer bar-positive footer-button ">
            <a class="button button-full button-clear button-icon">
               <label class="footer-txt">Get Started</label>
            </a>
        </div>
    </div>
  </ion-view>