
/* 
.btn-cls {
    text-align: center;
    margin-top: 50px;
}


.item  {
    border-color: transparent;
   background-color: transparent;
}



.center {
    text-align: center;
}
.error{
    color: #FF0000;
}

.item-floating-label .input-label {
    color: white;
}

.form-margin{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
}

.border-bottom1 {
    border-bottom: 1px solid white;
}

.border-bottom1-error {
    border-bottom: 1px solid #FF0000;
}


.custom-login-label input[type]{
    margin-left: 20px;
}
.custom-login-label i {
    position: absolute;
    bottom: 12px;
}

.btn-size {
    min-height: 30px;
    line-height: 0px;
    border-radius: inherit;
}

.btn-pad {
    padding: 0px 25px 0px 25px;
}

.button.button-fbclr {
    border-color: transparent;
    background-color: #0b3a88;
    color: #fff; 
}

.button.button-gplusclr {
    border-color: transparent;
    background-color: #d34836;
    color: #fff; 
}


.forgot-pswd{
    float: right;
    padding-top: 5px;
    color: white;
}

.p-top20{
    padding-top: 20%;
}
.p-left10 {
    padding-left: 10px;
}

.placeholder-icon {
    color: white;
}

.signup-icon {
    float: right;
    margin-right: 40px;
    color: white;
}
.signup-icon-size {
    font-size: 30px;
}

.f-right{
    float: right;
} */

/* Rgistrtion Page CSS */

/* .reg-form-margin {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
} */



/*Menu */

/* .bar.bar-stable {
    background-color:#085662;
  }
  

  .white-bgclr {
      background-color: white;
  }

  .bar {
      height: 55px;
  }

  .profile-name {
    padding-left: 15px;
    padding-top: 10px;
    color: #0489a2;
  }

.p-left0 {
    padding-left: 0px !important;
}

.p-right0 {
    padding-right: 0px !important;
}

#otpPopup {
    color: #0487a1;
    padding-left: 10px;
}
.popup-head {
    padding: 10px 7px !important;
    border-bottom: 1px solid #0487a1 !important;
    background: #0487a1 !important;
}
.otpButton{
    background-color: #0487a1;
    color: #fff;
}
.popup-head h3{
    color:#fff !important;
}
.button-default{
    background: #bbbbbbcf !important;
} */



/*   lakki styles start here 8-2-2018 */

    .smt_background_image{
        background: url("../img/BG_IMG.png");
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #fff;
        padding: 0 10%;
        margin-bottom: 5%;
    }
    .smt_logo{
        text-align: center;
        padding: 20% 0;
    }
    textarea, input[type="text"], input[type="password"],  input[type="number"], input[type="email"],  input[type="tel"] {
        color:#0487A1 !important;
        font-size: 13px !important;
    }
    *::-webkit-input-placeholder {
        color: #0487a1 !important;
        font-size: 18px !important;
    }
    *:-moz-placeholder {
        color: #0487a1 !important;
        font-size: 18px !important;
    }
    *:-ms-input-placeholder { 
        color: #0487a1 !important;
        font-size: 18px !important;
    }
    .float_labels{
        color: #0487a1;
        font-size: 13px;
    }
    .custom-login-label input[type]{
        padding-left: 30px;
        font-size: 13px;
    }
    .custom-login-label i {
        position: absolute;
        bottom: 12px;
    }
    .login_labls .item{
        border-bottom:1px solid #0487a1 !important;
        border: none
    }
    .placeholder-icon{
        color: #0487a1;
        font-size: 20px;
        margin-bottom: -3px;
    }
    .all_btns{
        background: #0487a1;
        border-radius: 15px;
        color:#fff;
        font-weight: bold;
    }
    .ion-social-googleplus{
        font-size: 40px;
        color:#d34836;
    }
    .ion-social-twitter{
        font-size: 40px;
        color:#55acee;
    }
    .ion-social-facebook{
        font-size: 40px;
        color:#3b5998;
    }
   .social_icons{
       text-align: center;
       margin-top: 15%;
   }
   .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
        background: #0487a1 !important;
        border-color: #0487a1 !important;
        border-radius: 50% !important;
   }
   .platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before{
        border-color: #0487a1 !important;
        border-radius: 50% !important;
   }
   .error {
        color: red;
    }
    .button.activated {
        border-color: #0487a1 !important;
        background-color: #0487a1 !important;
        color: #fff !important;
    }
    .button:hover {
        color: #fff ;
    }
    #mandatory_feild{
        color:red;
        font-weight: bold;
        font-size: 20px;
        margin-left: -13px;
    }



/*   lakki styles start here 8-2-2018 */
