/* Empty. Add your own CSS if you like */

body {
    /* font-family: 'Alef'; */
 
}
/* 
.scroll-content-login {
    background: url("../img/catlog.png");
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0489a2;
  } */

  /* .scroll-content-menu {
    /* background: url("../img/catlog.png"); */
    /* width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: #085662;
  } */

  /* .bar .buttons .hide {
    display: block !important;
} */

  /* .item-complex .item-content, .item-radio .item-content {
    background-color: #0489a2;
  } */


  /* *::-webkit-input-placeholder {
    color: white !important;
  }
  *:-moz-placeholder {
    color: white !important;
  }
  *:-ms-input-placeholder { 
    color: white !important;
  } */

/* button-txt */
  /* .btn-txt-clr {
      color: #0489a2 ;
  }

  .white-clr {
      color:white !important;
  } */
  

  /* Home */

  /* .bar.bar-assertive{
    background-color: #0489a2 !important;
    border-color: #0489a2 !important;
} */



/* i{
    font-size: 66%;
}; */


  
/* Menu */

/* .menu-bgclr {
  background-color:transparent !important;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.cat-top-left {
  position: absolute;
  top: 59px;
  left: 33px;
}

.prod-top-right {
  position: absolute;
  top: 59px;
  right: 33px;
}

.brand-top-left {
  position: absolute;
  top: 59px;
  left: 40px;
}

.deals-top-right {
  position: absolute;
  top: 59px;
  right: 44px;
}

.menu-list-coupon {
  position: absolute;
  top: 50px;
  left: 54px;
}

.coupon-top-left {
  position: absolute;
  top: 70px;
  left: 36px;
}

.orders-top-right {
  position: absolute;
  top: 70px;
  right: 40px;
}

.menu-orders-count {
  position: absolute;
  top: 50px;
  right: 56px;
}

.top-left {
  position: absolute;
  top: 59px;
  left: 29px;
}

.top-right {
  position: absolute;
  top: 59px;
  right: 30px;
}




.menu-list {
  position: absolute;
  top: 70px;
  left: 33px;
}

.menu-pad {
  padding: 0px 16px 0px 16px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  color: white
}
th, td {
  padding: 5px;
  text-align: left;    
} */


/*   lakki styles start here 8-2-2018 */

#login_btn{
  margin-top: 20%;
}
#reg_btn{
  margin-top: 5%;
}
.smt_user_photo{
  text-align: center;
  margin-bottom: 5%;
}
#user_photo{
  border: 1px solid #0487a1;
  border-radius: 50%;
  padding: 8px 20px;
  font-size: 50px;
}
#middle_row{
    border-left: 1px solid #0487a1;   
    border-right: 1px solid #0487a1; 
    padding: 0 30px;
}
#row1{
  padding: 0 30px;
}
#row2{
  padding: 0 30px;
}
.sign_up{
  margin-top: 10%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
#login_signup{
  color: #0487a1;
  font-weight: 700;
}
.remeber_forgetpass{
  margin-top: -5%;
}
.remember_me{
  float: left;
  color:#0487a1;
  font-weight: 500;
}
.forgot_pswd{
  float: right;
  color:#0487a1;
  font-weight: 500;
}
#check_text{
  padding-left: 5px;
}
#checkbox_icon{
  border-style: none !important;
  padding: 0 0 0 45px !important;
}

.forgetPswd_header_txt {
  text-align: center;
  color: #0487a1;
  margin-bottom: 10%;
  font-weight: 450;
}

.forgot_pswd_txt {
  padding-top: 3%;
  margin-bottom: 15%;
  color: #0487a1;
  font-weight: 450;
}

.email_sent {
  text-align: center;
  color: #0487a1;
  padding-bottom: 15%;
}
/*   lakki styles end here 8-2-2018 */

/*Welcome*/
.footer-style .bar.bar-positive {
  border-color: #0487a1;
  background-color: #0487a1;
  color: #fff; 
}

.footer-txt{
    font-weight: bold;
    font-size: 18px;
}

.footer-bar-height .bar {
  height: 44px;
}

.welcome-slide-icon{
  position: absolute;
  top: 12%;
  left: 25%;
  right: 25%;
}

.welcome-slider .swiper-container-horizontal > .swiper-pagination {
  bottom: 7%;
}
.welcome-slide label {
  font-size: 20px;
  line-height: 1.42857;
  color: #0487a1;
}
.welcome-slide-text{
  position: absolute;
  /* padding-left: 20%;
  padding-right: 20%; */
  bottom: 20%;
  text-align: center;
}
.welcome-slide1-txt {
  padding-left: 20%;
  padding-right: 20%;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #0487a1 !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  opacity: 1;
  border: 2px solid #0487a1;
}


div.footer-button a.button.button-full {
  width:100%;
  margin-top: 0
}

.m_top-10 {
  margin-top: -10%;
}

.m_top12 {
  margin-top: 12%;
}